
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {

    font-family: 'Raqami';
    src: url(../fonts/Raqami.ttf);
}
@font-face {
    font-family: 'Janna LT';
    src: url('../fonts/Janna\ LT\ Regular.ttf');
}
@font-face {
    font-family: 'Console';
    src: url('../fonts/CONSOLA.TTF');
}